html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Temari*/
@media only screen and (max-width: 375px) {
* {
    text-align:center;
    max-width: 375px;
}

img {
    max-width: 375px;
}

.app-container {
width: 80%;
height: 30px;

}

.header {
width: 375px;
height: 80px;
background-color:rgb(0, 0, 0);
padding: 25px;

}

.logo {
    width: 12em;
    height: auto;

}

.first-large-text {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 0 20px 20px;
    padding: 20px 15px 0px 15px;
    color: white;
}

.first-medium-text {
font-size: 1.5rem;
font-weight: 600;
color: gold;
padding: 20px 15px 0px 15px;
margin: 0 0 20px 20px;

}

.first-small-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 5px 20px;
    padding: 20px 15px 0px 15px;
    color: white;

}

.shop-button {
    margin: 30px;
    background-color: rgb(189, 147, 10);
    border-radius: 25px;
    height: 20px;
    width: 170px;
    padding: 20px;
    padding-bottom: 32px;
    font-weight: 600;
    color:white;
    text-align: center;

}



.first {
    background: #2bceff;
    background-image: linear-gradient(to left, rgba(58, 58, 58, 0.418), #061958e0), url("./img/background-img.jpg");
    height: 660px;
    width: 375px;
}

.second {
    width: 375px;
}

.second-large-text {
    font-weight: 400;
    font-size: 40px;
    margin: 40px;
    line-height: 50px;
    text-align: center;
}

.second-reg-text {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: 20px 20px 60px 20px;
    font-weight: 600;
    color: gray;
}

.reason-box {
    width: 330px;
    height: auto;
    margin: 25px;
    padding: 5px;
    line-height: 25px;

}


.reason-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
iframe {
    width: 375px;
}

.fourth {
    background-color: #2e517c;
    width: 375px;
}

.fifth {
    text-align: center;
    background-color: #dfe0e5;
    width: 375px;

}

.fourth-small-text {
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 15px 20px;
    padding: 20px 15px 0px 15px;
    color: white;

}

.image-frame {
    width: 325px;
}

}

@media only screen and (max-width: 1024px) {
    * {
        text-align:center;
    }
    
    img {
    }
    
    .app-container {
    width: 100%;
    height: 30px;
    
    }
    
    .header {
    height: 100px;
    background-color:rgb(0, 0, 0);
    padding: 25px;
    
    }
    
    .logo {
        width: 14em;
        height: auto;
    
    }
    
    .first-large-text {
        font-size: 6rem;
        font-weight: 400;
        margin: 0 0 20px 20px;
        padding: 20px 15px 0px 15px;
        color: white;
        width: 1024px;
    }
    
    .first-medium-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: gold;
    padding: 20px 15px 0px 15px;
    margin: 0 0 20px 20px;
    width: 1024px;
    
    }
    
    .first-small-text {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 30px;
        margin: 0 20px 40px 220px;
        padding: 20px 15px 0 15px;
        color: white;
        width: 600px;
    
    }
    
    .shop-button {
        margin: 30px;
        background-color: rgb(189, 147, 10);
        border-radius: 25px;
        height: 20px;
        width: 170px;
        padding: 20px;
        padding-bottom: 40px;
        font-weight: 600;
        color:white;
        text-align: center;
        display: inline-block;
    
    }
    
    
    
    .first {
        background: #2bceff;
        background-image: linear-gradient(to left, rgba(58, 58, 58, 0.418), #061958e0), url("./img/background-img.jpg");
        height: 660px;
    }
    
    
    .second-large-text {
        font-weight: 400;
        font-size: 40px;
        margin: 40px;
        line-height: 50px;
        text-align: center;
    }
    
    .second-reg-text {
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        margin: 20px 20px 60px 20px;
        font-weight: 600;
        color: gray;
    }
    
    .reason-box {
        width: 340px;
        height: 200px;;
        margin: 25px;
        padding: 5px;
        line-height: 25px;
        display:inline-block;
    
    }

    .reason-box img {
        width: 300px;
    
    }
    
    
    .reason-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
   
    .third {
        margin-bottom: 50px;
    }

    .third-box {
        display: inline-block;
        margin: 30px;
        width: 200px;
    }

    .third-box img {
        width: 200px;
    }
    
    .fourth {
        background-color: #2e517c;
        
    }
    
    .fourth iframe {
        width: 800px;
    }
    
    .fifth {
        text-align: center;
        background-color: #dfe0e5;
        height: 600px;
    }


    
    .fourth-small-text {
        font-size: 1rem;
        font-weight: 600;
        line-height: 30px;
        margin: 0 0 15px 20px;
        padding: 20px 15px 0px 15px;
        color: white;
    
    }
    
    .threeballs {
        width:1000px;
    }

}